[user]
    email = chaneyzorn@gmail.com
    name = chaney
[core]
    editor = vim
    quotepath = false
[url "git@192.168.50.150:"]
    insteadOf = http://192.168.50.150/
[url "git@github.smartx.com:"]
    insteadOf = https://github.smartx.com/

