aria2/.aria2/aria2.session
ansible/.ansible/hosts
ansible/.ansible/tmp

linux-home/.local/share/nvim/

.netrwhist
vim/.config/nvim/autoload/plug.vim
vim/.config/nvim/autoload/plug.vim.old
vim/.config/nvim/cache
vim/.config/nvim/plugged
vim/.config/nvim/swap
vim/.config/nvim/sessions/default.vim

