aria2/.aria2/aria2.session
ansible/.ansible/hosts
ansible/.ansible/tmp

fontconfig/.config/fontconfig/conf.d/78-Reject.conf

linux-home/.local/share/nvim/
linux-home/.local/share/virtualenv/

.netrwhist
nvim/.config/nvim/cache
nvim/.config/nvim/swap
nvim/.config/nvim/sessions/default.vim
nvim/.config/nvim/spell/en.utf-8.add.spl
nvim/.config/nvim/plugin/packer_compiled.vim
nvim/.config/nvim/plugin/packer_compiled.lua
