aria2/.aria2/aria2.session
ansible/.ansible/hosts
ansible/.ansible/tmp

fontconfig/.config/fontconfig/conf.d/78-Reject.conf

linux-home/.local/share/nvim/
linux-home/.local/share/virtualenv/

.netrwhist
vim/.config/nvim/autoload/plug.vim
vim/.config/nvim/autoload/plug.vim.old
vim/.config/nvim/cache
vim/.config/nvim/plugged
vim/.config/nvim/swap
vim/.config/nvim/sessions/default.vim

