[*]
end_of_line = LF
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
max_line_length = 120

[*.{js,css,yml,yaml,lua}]
indent_size = 2

[*.py]
multi_line_output = 3
include_trailing_comma = True
force_grid_wrap = 0
use_parentheses = True
ensure_newline_before_comments = True
