[*]
end_of_line = LF
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.{js,css,json,yml,yaml,lua}]
indent_size = 2

[*.py]
profile = black
indent_style = space
indent_size = 4

[*.go]
indent_style = tab

[Makefile]
indent_style = tab
