[user]
	email = chaneyzorn@gmail.com
	name = chaney
[core]
	editor = nvim
	quotepath = false
	pager = less -x1,5
[pull]
	ff = only
[alias]
	root = rev-parse --show-toplevel
	showf = show --name-only
	logf = log --name-only
	diffc = diff --cached
[log]
	date = iso
[url "ssh://git@ssh.github.com:443/"]
	insteadOf = git@github.com:
