[user]
    email = chaneyzorn@gmail.com
    name = chaney
[core]
    editor = nvim
    quotepath = false
	pager = less -x1,5
[url "git@192.168.50.150:"]
    insteadOf = http://192.168.50.150/
[url "git@github.smartx.com:"]
    insteadOf = https://github.smartx.com/
[url "git@newgh.smartx.com:"]
    insteadOf = http://newgh.smartx.com/
[pull]
    ff = only
[alias]
    root = rev-parse --show-toplevel
    shown = show --name-only

