# /etc/systemd/system/efi-boot-steamos.service

### Fixes dual-boot after SteamOS upgrade:
# - VUP + Power to BIOS
# - Boot From File: esp/efi/steamos/steamcl.efi
# - Login to shell
# - sudo efibootmgr -c -L "SteamOS" -l "\EFI\steamos\steamcl.efi" -d /dev/nvme0n1p1 -b0001
# - sudo efibootmgr -n 0001

[Unit]
Description=Force SteamOS on next Boot

[Service]
Type=oneshot
RemainAfterExit=true
ExecCondition=/bin/bash -c "efibootmgr | grep -Po 'BootCurrent: [0-9].*'"
ExecStart=/bin/bash -c "efibootmgr -n $(efibootmgr | grep BootCurrent | awk '{ print $NF }')"

[Install]
WantedBy=multi-user.target
